rnginline/test/data/testcases/external-ref-3-namespaces/tmp.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="x:/example">
  <start>
    <element name="ns-tests">
      <oneOrMore>
        <element name="a">
          <element xmlns="x:/1-default-ns" name="test-1">
            <empty/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
